.BucketListItem{
    /*background-color: orange;*/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-content: center;
    width:33.3%;
    height:25vh;
}
.content{
  /*background-color:blue;*/
  font-size:1rem;
  word-break:break-all;
  text-align:center;
  display: inline-block;
  text-decoration: none;
  border:none;
  width:max-content;
  height:max-content;

  cursor: pointer;
}
.checked{
    color:#95a5a6;
    text-decoration: line-through;
}